#login-form {
    max-width : 600px;
    min-width: 300px;
    padding: 15px;
    background-color : #eee;
    border-radius: .5em;
    margin-top: 1em;
}

.things-title {
    font-size: 400%;
    text-shadow : 3px 3px 3px black;
    font-family : 'Montserrat', sans-serif;
    font-weight : bold;
    color : white;
    letter-spacing : 3px;
}

.background {
  background-image: url(../assets/background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; /* rescales the image to cover the window */
  background-color: #464646; /* shown during image load */
}

body {
    padding : 2em;
}

.hidden {
    display : none;
}

tr {
    cursor : pointer;
}
#editModal {
    position : absolute;
    top : 0;
    left : 50%;
    top : 50%;
    transform : translate(-50%, -50%);
}

label {
  margin-right: 1em;
}

span.btn {
  margin-right: 1em;
}

#default {
 margin-right: 1em;
}

div.well {
margin-top: 1em;
}

#hash-out {
    word-break: break-all;    
}

span {
    word-break: break-all;
}

span.out {
    padding: .5em;
    font-family: Courier New; monospace;
}

table {
    border-collapse : collapse;
}

th, td {
    border  : 1px solid gray;
    padding: .5em 1em;
}

th {
    background-color: black;
    color : white;
}
